extends layout

block styles
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700', type='text/css')

block scripts
    script(src='/js/libs/knockout-2.3.0.min.js')
    script(src='/js/admin.js')

block content
    form.form-horizontal.form-parsley(action='/admin/add-lang', method='POST', role='form')
        fieldset
            legend New Language
            .row
                .col-lg-10
                .col-lg-2
                    button.btn.btn-info.btn-xs(type='button', data-bind='click: reinitExercises') Reinitialize Exercises
                .alert-container(data-bind="template: { name: 'alertTemplate', if: showAlert }")
                script(id='alertTemplate', type='text/html')
                    .reinit-alert.alert.fade.in.col-lg-6.col-lg-push-3(data-bind='css: alertCss')
                        button.close(type='button', data-bind='click: hideAlert') x
                        span(data-bind='text: alertMessage')
            .form-group.form-group-tooltip
                label.col-lg-2.control-label(for='keyInput') Key
                .col-lg-6
                    input.form-control(id='keyInput', type='text', name='key', data-required='true', data-placement='right', autofocus)
            .form-group.form-group-tooltip
                label.col-lg-2.control-label(for='nameInput') Language Name
                .col-lg-6
                    input.form-control(id='nameInput', type='text', name='name', data-required='true', data-placement='right')
            .form-group.form-group-tooltip
                label.col-lg-2.control-label(for='projectNameInput') Project Name
                .col-lg-6
                    input.form-control(id='projectNameInput', type='text', name='projectName', data-required='true', data-placement='right')
            .form-group.form-group-tooltip
                label.col-lg-2.control-label(for='projectUrlInput') Project URL
                .col-lg-6
                    input.form-control(id='projectUrlInput', type='text', name='projectUrl', data-required='true', data-type='url', data-placement='right')
            .form-group.form-group-tooltip
                label.col-lg-2.control-label(for='projectCodeUrlInput') Project Code URL
                .col-lg-6
                    input.form-control(id='projectCodeUrlInput', type='text', name='projectCodeUrl', data-required='true', data-type='url', data-placement='right')
            .form-group.form-group-tooltip
                label.col-lg-2.control-label(for='projectLicenseUrlInput') Project License URL
                .col-lg-6
                    input.form-control(id='projectLicenseUrlInput', type='text', name='projectLicenseUrl', data-required='true', data-type='url', data-placement='right')
            .form-group.form-group-tooltip
                label.col-lg-2.control-label(for='orderInput') Order
                .col-lg-6
                    input.form-control(id='orderInput', type='text', name='order', data-required='true', data-type='number', data-placement='right')

            fieldset.code-samples
                legend Exercises
                div(data-bind="template: { name: 'exercisesTemplate', foreach: exercises }")
                script(id='exercisesTemplate', type='text/html')
                    .form-group.form-group-tooltip
                        label.col-lg-2.control-label(data-bind="attr: { 'for': 'exerciseNameInput' + $index() }") Exercise Name
                        .col-lg-4
                            input.form-control(data-bind="attr: { 'id': 'exerciseNameInput' + $index() }, value: 'exercise' + $index()", type='text', name='exerciseName', data-required='true', data-placement='right')
                    .form-group.form-group-tooltip
                        label.col-lg-2.control-label(data-bind="attr: { 'for': 'codeInput' + $index() }") Code
                        .col-lg-10
                            textarea.form-control.code(data-bind="attr: { 'id': 'codeInput' + $index() }", name='code', rows='10', data-required='true', data-placement='right')

            .form-group
                .col-lg-2
                .col-lg-8
                    button.btn.btn-large(type='button', data-bind='click: addExercise') Add Exercise
                    button.btn.btn-large.btn-primary(type='submit') Submit
