.footer
    .container
        p.text-muted Made in 2014. Created for <a href="http://pandacodium.ca">Pandacodium</a> 2013.
            a(href='https://github.com/voithos/swiftcode')
                span.forkme.label.label-success Fork me on GitHub
