.footer
    .container
        p.text-muted &hearts; 2014. Please copy and share. Created for <a href="http://pandacodium.ca">Pandacodium</a> 2013. Graciously hosted by <a href="https://www.nodejitsu.com/">Nodejitsu</a>.
            a(href='https://github.com/voithos/swiftcode')
                span.forkme.label.label-success Fork me on GitHub
