extends layout

block styles
    link(rel='stylesheet', href='/css/github.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700', type='text/css')

block scripts
    script(src='/js/libs/knockout-2.3.0.min.js')
    script(src='/js/libs/highlight.min.js')
    script(src='/js/libs/moment-2.1.0.min.js')
    script(src='/js/libs/mousetrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/game.js')

block content
    .container
        .row
            .col-lg-4
            .col-lg-4
                .panel.panel-danger
                    .panel-heading
                    .panel-body.control-panel(data-bind="template: 'controlPanelTemplate'")
                script(id='controlPanelTemplate', type='text/html')
                    .row
                        .col-lg-7
                            h3.status(data-bind='text: game.gameStatus, css: game.gameStatusCss')
                        .col-lg-5
                            div(data-bind='if: game.timerRunning')
                                div.timer-parent
                                    span.timer.label(data-bind='text: game.timer, css: game.timerCss')
            .col-lg-4
        .row
            .col-lg-1
            .col-lg-10
                pre(data-bind="template: 'gamecodeTemplate'")
                script(id='gamecodeTemplate', type='text/html')
                    code.code#gamecode(data-bind='text: game.gamecode, css: game.langCss')
            .col-lg-1
