extends layout

block styles
    link(rel='stylesheet', href='/css/github.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700', type='text/css')

block scripts
    script(src='/js/libs/knockout-2.3.0.min.js')
    script(src='/js/libs/highlight.min.js')
    script(src='/js/libs/moment-2.1.0.min.js')
    script(src='/js/libs/mousetrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/game.js')

block content
    .container
        .row
            .col-lg-4
            .col-lg-4
                .panel.panel-danger
                    .panel-heading
                    .panel-body.control-panel(data-bind="template: 'controlPanelTemplate'")
                    script(id='controlPanelTemplate', type='text/html')
                        .row
                            .col-lg-7
                                h3.status(data-bind='text: game.gameStatus, css: game.gameStatusCss')
                            .col-lg-5
                                div(data-bind='if: game.timerRunning')
                                    div.timer-parent
                                        span.timer.label(data-bind='text: game.timer, css: game.timerCss')
            .col-lg-3
                div(data-bind="template: 'opponentsPanelTemplate'")
                script(id='opponentsPanelTemplate', type='text/html')
                    div(data-bind="if: game.isMultiplayer")
                        .label.label-default Opponents
                        .panel.panel-default.opponents-panel
                            div(data-bind="if: loaded() && game.opponents().length > 0")
                                .panel-body(data-bind="foreach: game.opponents")
                                    .row
                                        .progress.progress-striped.progress-labeled.active(data-bind="css: 'progress-' + colorClass()")
                                            .progress-label(data-bind="text: name, css: cssClass")
                                            .progress-bar.progress-labeled(data-bind="css: 'progress-bar-' + colorClass(), style: { width: percentage() + '%' }")
                                                .progress-label(data-bind="text: name")
                            div(data-bind='if: loaded() && game.opponents().length == 0')
                                .panel-body
                                    .row
                                        .progress.progress-labeled
                                            .progress-label.text-primary None yet
            .col-lg-1
        .row
            .col-lg-1
            .col-lg-10
                pre
                    code.code(data-bind='css: game.langCss')
                        span#gamecode(data-bind='text: game.gamecode')
                        span.loading-container(data-bind='visible: loading')
                            img(src='/img/loading.gif')
                .col-lg-3.pull-right
                    a(href='', data-bind='click: submitHighlightingReport')
                        span.highlight-flag.label.label-default The syntax highlighting is wrong!
            .col-lg-1
        #completion-dialog.completion-dialog.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false')
            .modal-dialog
                .modal-content
                    .modal-header
                        h3.completion-header.text-info(data-bind='text: completionText')
                    .modal-body
                        .col-lg-1
                        .col-lg-10.completion-table
                            .row
                                .col-lg-8 Time:
                                .col-lg-4
                                    span(data-bind='text: stats.time')
                            .row
                                .col-lg-8 Speed:
                                .col-lg-4
                                    span(data-bind='text: stats.speed')
                                    span.muted wpm
                            .row
                                .col-lg-8 Keystrokes:
                                .col-lg-4
                                    span(data-bind='text: stats.keystrokes')
                            .row
                                .col-lg-8 Characters:
                                .col-lg-4
                                    span(data-bind='text: stats.typeables')
                            .row
                                .col-lg-8 Unproductive:
                                .col-lg-4
                                    span(data-bind='text: stats.percentUnproductive')
                                    span.muted %
                            .row
                                .col-lg-8 Mistakes:
                                .col-lg-4
                                    span(data-bind='text: stats.mistakes')
                        .col-lg-1
                        .clearfix
                    .modal-footer
                        a.btn.btn-primary(href='/lobby') Back to lobby
