extends layout

block scripts
    script(src='/js/libs/knockout-2.3.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/game.js')

block content
    .container
        Main game part
