extends layout

block content
    if addthis
        script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=#{addthis}')
        script(type='text/javascript').
            addthis.layers({
                'theme' : 'transparent',
                'share' : {
                    'position' : 'left',
                    'numPreferredServices' : 4
                }
            });
    .banner
        .container
            .row
                .col-md-6
                .col-md-6.banner-intro
                    h1.banner-heading How Swift Are You?
                    h2.banner-phrase SwiftCODE is a multiplayer typing speed game for programmers.
                    .banner-buttons
                        a.btn.btn-lg.btn-success.playnow-button(href='/playnow') Play Now
                        .signup-section or <a href="/signup"><span class="label label-info">sign up</span></a> to keep track of your progress
    .container
        hr.featurette-divider
        .row.featurette
            .col-md-6
                h2.featurette-heading It's just you and your keyboard.<br>
                    span.text-muted Use the source, Luke.
                p.lead.
                    Do you enjoy hearing the clicking of the keyboard as you
                    furiously type out code? The keyboard is the most basic
                    tool in a programmer's arsenal; to master such a tool
                    requires training. Enter SwiftCODE. Prepare yourself, find
                    focus, and dive in.
            .col-md-6
                img.featurette-image.img-circle.img-responsive.pull-right(src='/img/computer.png')
        .row.featurette
            .col-md-6
                img.featurette-image.img-circle.img-responsive(src='/img/launchpad.png')
            .col-md-6
                h2.featurette-heading Play by yourself, or with friends.<br>
                    span.text-muted See who's swiftest.
                p.lead.
                    Hone your skills in single-player mode. Train to improve on
                    typing speed and accuracy, making every keystroke count.
                    Then, enter the multiplayer fray and challenge up to 3
                    others in a real-time battle of swiftness.
        .row.featurette
            .col-md-6
                h2.featurette-heading Try out the syntax of new languages.<br>
                    span.text-muted Go supersonic.
                p.lead.
                    Play with your favorite language, or try a new one, whether
                    it's object-oriented, functional, declarative, or something
                    else altogether. Type code taken from real open-source
                    projects. Practice the hard-to-reach and quirky characters
                    that the language uses.
            .col-md-6
                img.featurette-image.img-circle.img-responsive.pull-right(src='/img/code.png')
