extends layout

block content
    .container-narrow
        .jumbotron
            h2 How Swift Are You?
            p.
                SwiftCODE is a multiplayer typing speed game for programmers.
                Just choose a username and password to begin!
            if error.length != 0
                .alert.alert-danger
                    button.close(type='button', data-dismiss='alert') x
                    strong Oops! 
                    = error
            form.form-signup.form-parsley(action='/signup', method='POST')
                .form-group
                    input.form-control(type='text', placeholder='Username', name='username', data-required='true')
                .form-group
                    input.form-control(type='password', placeholder='Password', name='password', data-required='true')
                button.btn.btn-large.btn-primary.btn-block(type='submit') Sign up

