!!!
html
    head
        meta(charset='utf-8')
        title= title + ' | SwiftCODE'
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/libs/modernizr-2.6.2.min.js')
    body
        include nav
        .container
            block content
        script.
            var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
            if(!oldieCheck) {
                document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
            } else {
                document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
            }
        script.
            if(!window.jQuery) {
                if(!oldieCheck) {
                    document.write('<script src="/js/libs/jquery-2.0.2.min.js"><\/script>');
                } else {
                    document.write('<script src="/js/libs/jquery-1.10.1.min.js"><\/script>');
                }
            }
        script(src='/js/libs/bootstrap.js')
        block scripts
