!!!
html
    head
        meta(charset='utf-8')
        title= title + ' | SwiftCODE'
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/alertify.css')
        link(rel='stylesheet', href='/css/style.css')
        block styles
        script(src='/js/libs/modernizr-2.6.2.min.js')
    body
        include nav
        block content
        include footer
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
        script.
            if (!('jQuery' in window)) {
                document.write('<script src="/js/libs/jquery-1.10.1.min.js"><\/script>');
            }
        script(src='/js/libs/bootstrap.js')
        script(src='/js/libs/lodash-1.3.1.min.js')
        script(src='/js/libs/parsley.js')
        script(src='/js/libs/alertify.min.js')
        script(src='/js/plugins.js')
        if user
            script.
                var user = {
                    _id: '#{user._id}',
                    username: '#{user.username}'
                };
        script(src='/js/main.js')
        block scripts
