extends layout

block scripts
    script(src='/js/libs/knockout-2.3.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/lobby.js')

block content
    .container
        .row
            .col-lg-1
            .col-lg-6
                .well
                    fieldset
                        legend Join Game
                        .panel.panel-primary.lobby
                            .panel-heading Lobby
                            .panel-body(data-bind="template: 'lobbyTemplate'")
                            script(id='lobbyTemplate', type='text/html')
                                table.table.table-striped.table-hover
                                    colgroup
                                        col(width='40px')
                                        col(width='140px')
                                        col(width='100px')
                                        col(width='110px')
                                        col(width='90px')
                                    thead
                                        th #
                                        th Language
                                        th Players
                                        th Status
                                        th
                                    tbody(data-bind='foreach: games')
                                        tr.game-row
                                            td(data-bind='text: num')
                                            td(data-bind='text: langName')
                                            td
                                                span(data-bind='text: numPlayers')
                                                /
                                                span(data-bind='text: maxPlayers')
                                            td(data-bind='text: statusText, css: statusCss')
                                            td
                                                button.btn.btn-success.btn-sm(data-bind='visible: isJoinable, click: join') Join
                                    tbody(data-bind='if: loaded() && games().length == 0')
                                        tr.game-row.no-games
                                            td(colspan='5') There are no available games! Make a new one.
                                .loading-container(data-bind='visible: loading')
                                    img(src='/img/loading.gif')
            .col-lg-4
                .slide-panel-container
                    .slide-panel.gametype-container
                        .well
                            fieldset.languages
                                legend New Game
                                button.btn.btn-info.btn-block(type='button', data-bind="click: setGameType.bind($root, 'single')") Single-player
                                button.btn.btn-info.btn-block(type='button', data-bind="click: setGameType.bind($root, 'multi')") Multiplayer
                    .slide-panel.lang-container
                        .well
                            fieldset.languages
                                legend Choose Language
                                .language-list
                                    each l in langs
                                        button.lang.btn.btn-danger.btn-block(type='button', data-bind="click: newGame.bind($data, '#{l.key}')")= l.name
                .clearfix
            .col-lg-1
