extends layout

block scripts
    script(src='/js/libs/knockout-2.3.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/lobby.js')

block content
    .container
        .row
            .col-lg-1
            .col-lg-6
                .well
                    fieldset
                        legend Join Game
                        .panel.panel-primary.lobby
                            .panel-heading Lobby
                            .panel-body
                                table.table.table-striped.table-hover
                                    thead
                                        th #
                                        th Language
                                        th Players
                                        th Status
                                        th
                                    tbody(data-bind='foreach: games')
                                        tr
                                            td.game-row(data-bind='text: num')
                                            td.game-row(data-bind='text: lang')
                                            td.game-row
                                                span(data-bind='text: players')
                                                /
                                                span(data-bind='text: maxPlayers')
                                            td.game-row(data-bind='text: status, css: statusCss')
                                            td.game-row
                                                button.btn.btn-primary.btn-small(data-bind='visible: isJoinable') Join
            .col-lg-4
                .well
                    fieldset.languages
                        legend New Game
                        each ex in exercises
                            button.lang.btn.btn-danger.btn-lg.btn-block(type='button', data-lang=ex.key)= ex.name + ' (' + ex.projectName + ')'
            .col-lg-1
