.navbar.navbar-inverse
    .container
        a.navbar-brand(href='/') SwiftCODE
        ul.nav.navbar-nav
            li
                a(href='/lobby') Lobby
            li
                a(href='/help') Help
        form.navbar-form.pull-right(action='/login', method='POST')
            .form-group
                input.form-control(type='text', placeholder='Username', name='username')
            .form-group
                input.form-control(type='password', placeholder='Password', name='password')
            button.btn(type='submit') Log in
