.navbar.navbar-inverse
    .container
        a.navbar-brand(href='/') SwiftCODE
        ul.nav.navbar-nav
            li
                a(href='/lobby') Lobby
            li
                a(href='/help') Help
        if !user
            form.navbar-form.pull-right(action='/login', method='POST')
                .form-group
                    input.form-control(type='text', placeholder='Username', name='username', autofocus)
                .form-group
                    input.form-control(type='password', placeholder='Password', name='password')
                button.btn(type='submit') Log in
        else
            ul.nav.navbar-nav.pull-right
                li
                    a(href='/logout') Log out
