.navbar.navbar-inverse
    .container
        a.navbar-brand(href='/') SwiftCODE
        ul.nav.navbar-nav.pull-right
            li
                a(href='/lobby') Lobby
            li
                a(href='/help') Help
